//
// All the documentation for this rc file came from: https://docs.microsoft.com/en-us/windows/win32/menurc/versioninfo-resource?redirectedfrom=MSDN
//

#include "winver.h"

Game_Icon ICON "Game_Icon.ico"


1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Beta Studio"
      VALUE "FileDescription", "Belda's Adventure"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Beldas_adventure"
      VALUE "LegalCopyright", "Beta Studio Copyright (C) 2021"
      VALUE "OriginalFilename", "Beldas_adventure.exe"
      VALUE "ProductName", "Belda's adventure"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END